<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Boolz-App</title>


    <!-- Font link -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,600;1,300&display=swap" rel="stylesheet">


    <!-- Fontawesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A==" crossorigin="anonymous" referrerpolicy="no-referrer" />


    <!-- Vue -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js" defer></script>
    <script src="script.js" defer></script>


    <!-- Style -->
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="background">
        <div class="bg-up"></div>
        <div class="bg-down"></div>
    </div>

    <div class="container" id="app">
        <div class="contact-side">
            <div class="my-profile-bar">
                <div class="name-and-img">
                    <img class="profile-img" src="img/me.png" alt="">
                    <p>Marco Mammì</p>
                </div>
                <div class="icons">
                    <i class="fa-solid fa-circle-notch"></i>
                    <i class="fa-solid fa-message"></i>
                    <i class="fa-solid fa-ellipsis-vertical"></i>
                </div>
            </div>
            <div class="new-message-notifics-bar">
                <div class="profile-img bell-img">
                    <i class="fa-solid fa-bell-slash"></i>
                </div>
                <div>
                    <p>Ricevi notifiche di nuovi messaggi</p>
                    <a href="#1">Attiva le notifiche desktop</a>
                </div>
            </div>
            <div class="search-bar">
                <div class="search-btn" @click="contactFinder">
                    <i class="fa-solid fa-magnifying-glass"></i>
                </div>
                <input type="text" placeholder="Cerca o inizia una nuova chat..." v-model="searchName" @keyup="contactFinder">
            </div>
            <div class="contact-list">
                <ul>
                    <li class="contact-card" v-for="(contactObj, i) in contacts" :class="[contacts.indexOf(contactObj) == indexActiveContact ? 'active-contact' : '']" :key="contactObj.name"
                    @click="setIndexActiveContact(i)">
                    <div class="name-and-img">
                            <img class="profile-img" :src="'img/' + contactObj.avatar" alt="">
                            <div>
                                <p>{{ contactObj.name }}</p>
                                <p class="last-message">{{ contactObj.messages[contactObj.messages.length - 1].message }}</p>
                            </div>
                        </div>
                        <p class="time">{{ contactObj.messages[contactObj.messages.length - 1].date }}</p>
                    </li>
                </ul>
            </div>
        </div>
        <div class="chat-side">
            <div class="contact-bar">
                <div class="name-and-img">
                    <img class="profile-img" :src="'img/' + contacts[indexActiveContact].avatar" alt="">
                    <p>{{ contacts[indexActiveContact].name }}</p>
                </div>
                <div class="icons">
                    <i class="fa-solid fa-magnifying-glass"></i>
                    <i class="fa-solid fa-paperclip"></i>
                    <i class="fa-solid fa-ellipsis-vertical"></i>
                </div>
            </div>

            <div class="chat-area">
                <div v-for="(messageObj, i) in contacts[indexActiveContact].messages" class="message-cloud" :class="'message-' + messageObj.status">
                    <p>{{ messageObj.message }}</p>
                    <p class="message-time">{{ messageObj.date }}</p>
                </div>
            </div>

            <div class="type-message-bar">
                <i class="fa-regular fa-face-smile"></i>
                <input type="text" v-model="newMessage" placeholder="Scrivi un messaggio..." @keyup.enter="sendMessage">
                <i class="fa-solid fa-microphone"></i>
            </div>
        </div>
    </div>
</body>
</html>