/* ----- General ----- */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

.profile-img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
}


/* ----- Background -----  */
.background .bg-up {
    background-color: #009688;
    height: 20vh;
}
.background .bg-down {
    background-color: #ffffff;
    height: 80vh;
}


/* ----- Container ----- */
.container {
    width: 1100px;
    height: 90vh;
    border-radius: 8px;
    display: flex;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #ffffff;

}

/* ----- Contact side ----- */
.contact-side {
    width: 40%;
    height: 100%;
}


/* My profile section */
.my-profile-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #eaeaea;
    padding: 5px;
}

.name-and-img {
    display: flex;
    align-items: center;
}

.icons i {
    color: #757575;
    font-size: 1.3rem;
    margin-right: 8px;
}


/* New notifics section */
.new-message-notifics-bar {
    background-color: #8edafc;
    padding: 5px;
    display: flex;
    align-items: center;
}

.bell-img {
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
}

.new-message-notifics-bar i {
    color: #8edafc;
    font-size: 1.3rem;
}

.new-message-notifics-bar p {
    font-size: .9rem;
}
.new-message-notifics-bar a {
    font-size: .8rem;
    color: #757575;
}


/* Search section */
.search-bar {
    display: flex;
    background-color: #eaeaea;
    padding: 5px;
}

.search-btn {
    background-color: #ffffff;
    padding: 5px 20px;
    border: 1px solid #000000;
    border-right: transparent;
    color: #757575;
}

.search-bar input {
    width: 100%;
    border: 1px solid #000000;
    border-left: transparent;
    outline: none;
}


/* Contact list */
.contact-list {
    height: calc(100% - 162px);
    overflow: auto;
}

.contact-list ul {
    list-style-type: none;
}

.contact-card {
    display: flex;
    justify-content: space-between;
    padding: 5px;
}

.contact-card .last-message {
    color: #757575;
    font-size: .8rem;
    margin-top: 5px;
}

.contact-card .time {
    color: #757575;
    font-size: .8rem;
}

/* ----- Chat side ----- */
.chat-side {
    width: 60%;
    height: 100%;
    position: relative;
}


/* Contact bar */
.contact-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #eaeaea;
    padding: 5px;
    border-left: 1px solid #757575;
}


/* Chat area */
.chat-area {
    height: calc(100% - 60px);
    background-image: url(img/background.jpg);
    background-size: auto;
    overflow: scroll;
    padding: 3rem 2rem;
    display: flex;
    flex-direction: column;
    row-gap: .5rem;
}

.message-cloud {
    font-size: .9rem;
    width: fit-content;
    padding: 10px 10px 5px;
    border-radius: 12px;
}

.message-received {
    background-color: #ffffff;
}

.message-sent {
    background-color: #d5f9ba;
    align-self: flex-end;
}

.message-time {
    text-align: right;
    color: #757575;
    font-size: .6rem;
    margin-top: 5px;
}


/* Type message bar */
.type-message-bar {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #eaeaea;
    padding: 5px;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}

.type-message-bar input {
    width: 80%;
    height: 35px;
    border: none;
    outline: none;
}