/* ----- General ----- */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

.profile-img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
}


/* ----- Background -----  */
.background .bg-up {
    background-color: #009688;
    height: 20vh;
}
.background .bg-down {
    background-color: #ffffff;
    height: 80vh;
}


/* ----- Container ----- */
.container {
    width: 1100px;
    height: 90vh;
    border-radius: 8px;
    display: flex;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #ffffff;

}

/* ----- Contact side ----- */
.contact-side {
    width: 40%;
    height: 100%;
}


/* My profile section */
.my-profile-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #eaeaea;
    padding: 5px;
}

.name-and-img {
    display: flex;
    align-items: center;
}

.my-profile-bar .icons i {
    color: #757575;
    font-size: 1.3rem;
    margin-right: 8px;
}


/* New notifics section */
.new-message-notifics-bar {
    background-color: #8edafc;
    padding: 5px;
    display: flex;
    align-items: center;
}

.bell-img {
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
}

.new-message-notifics-bar i {
    color: #8edafc;
    font-size: 1.3rem;
}

.new-message-notifics-bar p {
    font-size: .9rem;
}
.new-message-notifics-bar a {
    font-size: .8rem;
    color: #757575;
}


/* Search section */
.search-bar {
    display: flex;
    background-color: #eaeaea;
    padding: 5px;
}

.search-btn {
    background-color: #ffffff;
    padding: 5px 20px;
    border: 1px solid #000000;
    border-right: transparent;
    color: #757575;
}

.search-bar input {
    width: 100%;
    border: 1px solid #000000;
    border-left: transparent;
    outline: none;
}


/* Contact list */
.contact-list ul {
    list-style-type: none;
}

.contact-card {
    display: flex;
    justify-content: space-between;
    padding: 5px;
}

.contact-card .last-message {
    color: #757575;
    font-size: .8rem;
    margin-top: 5px;
}

.contact-card .time {
    color: #757575;
    font-size: .8rem;
}

/* ----- Chat side ----- */
.chat-side {
    width: 60%;
    height: 100%;
}